@charset "UTF-8";
@font-face {
    font-family:'android';
    src: url(../fontes/idroid.otf) format('opentype');
}


:root{

    --cor0:#cbceff; 
    --cor1:white;
    --cor2:#3844C7;
    --cor30:#474D94;
    --cor3:#1523FA;
    --cor4:#424461;
    --cor5:#2D2D33;
    --fonte-padrao: Arial, Verdana, Helvetica,sans-serif;
    --fonte-destaque:'Bebas Neue', sans-serif;
    --font-android:'android', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}